<style>
    body {
        /* padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end; 
        align-items: center; */
        background-color: #e0e1e6;
        background-image: url(https://imageio.forbes.com/specials-images/imageserve/5cdb058a5218470008b0b00f/Nobu-Ryokan-Malibu/0x0.jpg?format=jpg&height=1009&width=2000);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #text-container {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        position: absolute;
        left: 20px; /* Adjust the left position as needed */
        top: 50%;
        transform: translateY(-50%);
    }


</style>

<div id="text-container" style="margin-top: 18%;">
    <h1 style="animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(41, 128, 185, .8);color: #000000;font-size: 50px;">Fake Review Detection </h1>
    <p style="font-size: 20px;color: #3a021c;animation: fadeInUp 1.5s ease-out;margin-top: 1px;">Machine Learning model which can predict whether an online review is fraudulent or not.</p>
</div>